* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: url(./bg-mobile.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 40px;
}

#profile img {
    border-radius: 50%;
    width: 112px;
    padding: 40px;
}

#profile header {
    color: white;
}

form {
    padding: 40px;
}

footer {
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content: center;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: white;
}

